@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

.line {
    @apply cursor-pointer;
}

.box {
    @apply aspect-square;
}

.filler-ball {
    @apply bg-black aspect-square rounded-full z-10;
    box-shadow: 0 0 0 2px black;
}
